*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Comfortaa", Arial, sans-serif;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}